.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build and distribution folders
/build

# Test coverage
coverage/
.nyc_output

# OS-specific files
Thumbs.db
.sass-cache/

# Additional logs and caches
*.log
.cache/
*.tmp

# Linting and formatting
.eslintcache
