.footerPage {
  background-color: #055B2E;
  color: white;
  text-align: left;
  font-size: 1.0rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: 3rem 6rem 3rem;
  height: 100%;
}

.footer-info {
  padding: 0rem 6rem;
  line-height: 1.8;
}

.footer-img { 
  height: 100%;
  width: 100%;
}

.footer-img img{
  height: 100%;
  width: 100%;
}