/* 여기에 각 해당 페이지에 적용될 css 작성 */

.section-store {
  padding: 10rem 2rem 5rem;
}

ul, ol {
  list-style-type: none; /* 모든 ul, ol 태그의 마커 제거 */
}

.box-tabmenu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border-bottom: 1px solid var(--color-lightgray);
  padding: 0rem 2rem;
  margin: 0 -20px;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}

.list-tabmenu{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.list-tabmenu .btn-tab {
  position: relative;
  height: 40px;
  padding: 0 20px;
  border: none;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  font-size: 1.5rem;
  transition: .2s;
}

.list-tabmenu .btn-tab:not(.btn-tab--active):hover {
  width: 100%;
  margin-top: -2px;
  color: #ffc800;
}

.list-tabmenu .btn-tab--active {
  font-weight: 600;
  color: #055B2E;
}


.list-tabmenu .btn-tab--active::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background-color: #055B2E;
}

.box-tabpanel {
  padding-top: 20px;
}

.list-product {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.list-product > li {
  width: 50%;
}

.box-txt {
  padding: 20px 24px;
  border: 1px solid var(--color-gray);
  border-width: 0 1px 1px 1px;
}

.thumb-img {
  width: 90%;
}

.tit-prd { 
  display: -webkit-box;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}


@media screen and (min-width: 768px) { /* min PC */

  .list-product > li {
    width: calc(100% / 4);
  }

  .box-txt{
    padding: 12px 16px;
  }

}

@media screen and (min-width: 1024px) { /* min PC */

  .section-store {
    padding: 8rem 4rem;
  }

  .box-tabmenu{
    padding: 0 40px;
    margin: 0 -40px;
  }

  .box-tabpanel{
    padding-top: 20px;
  }

}